<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe24.ksmart30.main.mapper.TotalCodeMapper">
	<!-- 전체리스트 -->
	<select id="selectTotalCodeList" resultType="com.cafe24.ksmart30.main.vo.TotalCode">
		SELECT 
			(BUSI_GB + LEVEL1_CD) as busi_gb, 
			LEVEL1_NM as level1_nm, 
			LEVEL2_CODE_LEN as level2_len, 
			LEVEL2_NAME_LEN as level2_name_len,
			REF1_EXPENSES as ref1_expenses,
			REF1_LEN as ref1_len
		FROM t_sc9000	
	</select>
</mapper>